<h1 class="text-center, whiteglow">Editing player</h1>

<%= render 'form' %>

<%= link_to 'Show', @player, html: {class: "whiteglow"} %> |
<%= link_to 'Back', players_path, html: {class: "whiteglow"} %>
